* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
}

body {
  background-color: whitesmoke;
}

.main-container {
  margin: 1.5vh auto 1vh;
}

.image-wrapper {
  /* outline: 1px solid tomato; */
  position: relative;
}

.alpaca-style-image {
  /* outline: 1px solid tomato; */
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  padding: inherit;
  top: 0;
  left: 0;
}

.alpaca-change-div {
  margin: 1.5vh 0 1.5vh;
}

footer a{
  border: .5px solid lightgray;
  width: 45%;
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    text-align: left;
  }

  .main-container {
    margin: 5vh auto 1vh;
  }
}