* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

header, footer {
  text-align: center;
}

body {
  background-color: whitesmoke;
}

.main-container {
  margin: 1.5vh auto 1vh;
  border-radius: 8px;
  box-shadow: -3px 8px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.image-wrapper {
  /* outline: 1px solid tomato; */
  position: relative;
}

#alpaca-backgrounds-2, .alpaca-style-image {
  /* outline: 1px solid tomato; */
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  padding: inherit;
  top: 0;
  left: 0;
}

/* #alpaca-backgrounds-2 {
  transition: opacity .5s;
} */

.dropdown-toggle {
  width: 95%;
}

footer a{
  border: .5px solid lightgray;
  width: 45%;
  padding: .5rem 1rem;
  margin: 5px auto;
  border-radius: 5px;
  background-color: white;
  text-decoration: none;
  box-shadow: -3px 8px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    text-align: left;
  }

  .main-container {
    margin: 5vh auto 1vh;
  }

  footer a {
    width: 85%;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 992px;
  }
}